#
BASEPATH="{{ unreal_install_dir }}"
BINDIR="{{ unreal_install_dir }}/bin"
DATADIR="{{ unreal_install_dir }}/data"
CONFDIR="{{ unreal_install_dir }}/conf"
MODULESDIR="{{ unreal_install_dir }}/modules"
LOGDIR="{{ unreal_install_dir }}/logs"
CACHEDIR="{{ unreal_install_dir }}/cache"
DOCDIR="{{ unreal_install_dir }}/doc"
TMPDIR="{{ unreal_install_dir }}/tmp"
PRIVATELIBDIR="{{ unreal_install_dir }}/lib"
PREFIXAQ="1"
MAXCONNECTIONS_REQUEST="auto"
NICKNAMEHISTORYLENGTH="20000"
DEFPERM="0600"
SSLDIR="{{ unreal_ssl_dir }}"
{% if unreal_remote_conf %}
REMOTEINC="1"
CURLDIR="{{ unreal_build_dir }}/unrealircd-{{ unreal_version }}/extras/curl"
{% else %}
REMOTEINC="0"
CURLDIR=""
{% endif %}
SHOWLISTMODES="1"
NOOPEROVERRIDE=""
OPEROVERRIDEVERIFY=""
GENCERTIFICATE="1"
EXTRAPARA=""
ADVANCED=""
