#
BASEPATH="{{ unreal_install_dir }}"
BINDIR="{{ unreal_install_dir }}/bin"
DATADIR="{{ unreal_install_dir }}/data"
CONFDIR="{{ unreal_install_dir }}/conf"
MODULESDIR="{{ unreal_install_dir }}/modules"
LOGDIR="{{ unreal_install_dir }}/logs"
CACHEDIR="{{ unreal_install_dir }}/cache"
DOCDIR="{{ unreal_install_dir }}/doc"
TMPDIR="{{ unreal_install_dir }}/tmp"
LIBDIR="{{ unreal_install_dir }}/lib"
PREFIXAQ="1"
MAXSENDQLENGTH="3000000"
MAXCONNECTIONS="1024"
NICKNAMEHISTORYLENGTH="2000"
DEFPERM="0600"
SSLDIR="{{ unreal_ssl_dir }}"
REMOTEINC="{{ unreal_remote_conf }}"
CURLDIR="{{ unreal_curl_dir }}"
SHOWLISTMODES="1"
TOPICNICKISNUH=""
SHUNNOTICES=""
NOOPEROVERRIDE=""
DISABLEUSERMOD=""
OPEROVERRIDEVERIFY=""
DISABLEEXTBANSTACKING=""
GENCERTIFICATE="1"
EXTRAPARA=""
ADVANCED=""
